@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  outline: none;
}

.auto-fill {
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.scroll-in {
  transition: all 0.7s;
}

.hidden-stn {
  opacity: 0;
  transform: translateY(8rem);
  scale: 0.8;
}

.w-50vw {
  width: 50dvw;
}
